*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box
}
/* Shared Styles  */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bg-black{
    background-color: #1A0B2E;
}

.display-flex{
    display: flex;
}
.btn-primary{
    background: linear-gradient(to right, #F7E93F, #FB09B4, #fb09b2);
    padding: 12.5px 16px;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: 600;
}
.btn-secondary{
    border: 1px solid #00FF88;
    color: #00FF88;
    padding: 12.5px 20px;
    font-weight: 600;
    background-color: #1A0B2E;
    border-radius: 30px;
}
.logo-font{
    font-size: 48px;
    font-weight: 600;
}
.logo-side-font{
    color: red;
}
.text-heading{
    font-size: 60px;
    font-weight: 700;
    color: #FFFFFF;
}
/* Main Styles */
/* header section  */
header{
    
    color: #FFFFFF;
}
.navigation-bar{
    justify-content: space-around;
    align-items: center;
}
.menu{
    align-items: center;
    
}
.menu-iteam{
    list-style: none;
    margin-right: 30px;

}
.menu-link{
    text-decoration: none;
    color: #FFFFFF;
}
/* Banner Section  */
.banner-container{
    /* border: 2px solid white; */
    height: 760px;
    width: 100%;
    max-width: 1600px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.banner-middle{
    /* border: 1px solid white; */
    margin: 0 auto;
    height: 558px;
    width: 550px;
}
.banner-circle{
    height: 350px;
    width: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.new{
    width: 75px;
    height: 38px;
    position: absolute;
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 16px;
    margin: 12px 23px 300px 252px;
    border-radius: 16px;
  
}
.microphone{
    height: 150px;
    width: 150px;
    position: absolute;
    margin: 77.33px auto 97.67;
    
}
.banner-about{
    text-align: center;
}
.text-heading{
    margin: 40px auto;
}
.banner-about .btn-primary{
    margin: 24px auto 100px;
}
/* Main Section  */
/* About Section  */
main{
    margin-top: 0px;
}
.about{
    margin-top: 0px;
    border: 2px solid #1A0B2E;
    
}
.about-container {
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 1600px;
    height: 646px;
    text-align: center;
    margin: 50px auto 160px;
    /* padding: 200px 50px 200px 120px; */
    /* border: 2px solid white; */
}
.section-heading {
    margin: 50px auto;
    text-align: center;
    max-width: 1200px;
    height: 222px;
}
.section-heading h2{
    font-size: 3rem;
    font-weight: 600;
}

.about-info {
    display: flex;
    justify-content:space-around;
    margin: 160px auto 120px ;
}
.about-info .info-card h1{
  font-size:3rem;
  font-weight: 600;
  color: #00FF88;
}

.about-info .info-card p {
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}



/* Features Section  */
.host-container{
    /* border: 1px solid burlywood; */
    height: 378px;
    max-width: 1200px;
    color: #FFFFFF;
    margin: 0 auto;
    
}
.feature-heading{
    /* border: 1px solid tomato; */
    max-width: 1200px;
    height: 58px;
    text-align: center;
}
.meet-the-host{
    /* border: 2px solid tomato; */
    margin: 120px auto;
}
.feature-heading h1{
    font-size: 48px;
    font-weight: 600;
    margin: 0 auto;
}
.biodata{
    background-color: #351165;
    max-width: 1200px;
    height: 280px;
    margin-top: 40px;
    border-radius: 30px;
}
.alex-kumar{
    width: 896px;
    height: 183px;
    margin: 48px 0;
}
.image{
    height: 200px;
    width: 200px;
    margin: 40px;
}
.social-icons{
    display: flex;
    list-style: none;
}
.social-icons .icon{
    margin-left: 8px;
    border: 1px solid rgb(231, 68, 122);
    border-radius: 50%;

    
}
.social-icons .icon img{
    padding: 10px;
}


/* Footer Section  */
.footer-container{
    background-image: url("../assets/footer-bg.png");
    max-width: 1600px;
    margin: 0 auto;
    height: 412px;
    /* border: 2px solid salmon; */
}

.footer-section{
    display: grid;
    align-items: center;
    margin: 120px auto;
    max-width: 1360px;
    height: 200px;
    color: #FFFFFF;
    /* border: 1px solid blue; */
}
.footer-section h2{
    margin: 0 auto;
}
.footer-iteams{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.footer-iteam{
    margin-right: 30px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
}
.copy-right{
    text-align: center;
    
}
.social-imag{
    height: 24px;
    width: 24px;
}