
/* Shared Styles  */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bg-black{
    background-color: #1A0B2E;
}

.display-flex{
    display: flex;
}
.btn-primary{
    background-color: red;
    padding: 12.5px 16px;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: 600;
}
.logo-font{
    font-size: 48px;
    font-weight: 600;
}
.logo-side-font{
    color: red;
}
.text-heading{
    font-size: 60px;
    font-weight: 700;
    color: #FFFFFF;
}
/* Main Styles */
/* header section  */
header{
    
    color: #FFFFFF;
}
.navigation-bar{
    justify-content: space-around;
    align-items: center;
}
.menu{
    align-items: center;
    
}
.menu-iteam{
    list-style: none;
    margin-right: 30px;

}
.menu-link{
    text-decoration: none;
    color: #FFFFFF;
}
/* Banner Section  */
.banner-container{
    border: 2px solid white;
    height: 760px;
    width: 100%;
    max-width: 1600px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    margin: 0 auto;
}
.banner-middle{
    border: 1px solid white;
    margin: 100px auto;
    height: 558px;
    width: 550px;
}
.banner-circle{
    height: 350px;
    width: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.new{
    width: 75px;
    height: 38px;
    position: absolute;
    background-color: green;
    border: 1px solid white;
    font-size: 18;
    font-weight: 600
    padding: ;
    border-radius: 20px;
    margin: 12px 123px 508px 352px;
}
.microphone{
    height: 150px;
    width: 150px;
    position: absolute;
    margin: 69px 175px;
    
}
.banner-about{
    text-align: center;
}
.text-heading{
    margin: 10px auto;
}